<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Oliur | music</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/salon.css"/>
        <meta name="description" content="music music oliur oliur rahman music of oliur best music of oliur"/>
    </head>
    <body>
    <div class="a">
    </div>
      <h2>OWN-BEATS</h2>
      <h3>Established 2015</h3>
      <nav>
    <ul>
                <li><a href="#" class="active">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">MUSIC</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
    </nav>
				
                <ul class="d">
                    <li><a href="#">CONCERTS.</a></li>
                    <li><a href="#">BLOGS.</a></li>
                    <li><a href="#">ALBUMS.</a></li>
                    <li><a href="#">TOURS.</a></li>
                    <li><a href="#">FANS.</a></li>
                                    </ul>
<div class="f">
</div>
              
                     
    </body>
</html>